<div class="card">
  <div class="card-header">
    <h3 class="card-title">Lista</h3>
    <div class="card-actions">
      <%= link_to new_admin_property_type_path, class: "btn btn-primary" do %>
        <i class="ti ti-plus"></i>
        Adicionar Novo
      <% end %>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-vcenter table-mobile-md card-table">
      <thead>
        <tr>
          <th>Name</th>
          <th class="w-1"></th>
        </tr>
      </thead>
      <tbody>
        <%= render @property_types %>
      </tbody>
    </table>
  </div>
</div>
